<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <title>Emblem | The Graphical Programming Language</title>
      <link rel="stylesheet" href="css/vendorbootstrap.css">
      <link rel="stylesheet" href="css/vendor/bootstrap-theme.css">
      <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
      <p>Welcome to Emblem v0.1. Sorry for the lack of stuff; we're making it :D</p>
      <a href="https://github.com/ankitr/emblem"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
      <!-- TODO: Change .js to .min.js for production usage. -->
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js" ></script>
      <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.js"><\/script>')</script>
      <script type="text/javascript" src="js/vendor/bootstrap.js"></script>
      <script type="text/javascript" src="js/globals.js"></script>
      <script type="text/javascript" src="js/models.js"></script>
      <script type="text/javascript" src="js/builtins.js"></script>
      <script type="text/javascript" src="js/compiler.js"></script>
    </body>
</html>
